<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head.html') %>
</head>
<body>
    <%- include('partials/navigation.html') %>
    
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-white text-center p-5">
                <h1>Lorem ipsum dolor sit.</h1>
            </div>
            <div class="col-lg-12 text-white text-center p-5">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic autem a vel explicabo reprehenderit voluptatibus eveniet minus, quam nulla exercitationem incidunt, accusantium quia amet eligendi, dolor adipisci consectetur cum fugit? Eos vitae asperiores placeat libero fuga architecto maiores quidem dolorem eius nam labore, odit voluptas?</h2>
            </div>
        </header>
    </div>

    <div class="container-fluid" id="about">
        <div class="row bg-transparent text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fa fa-compass fa-5x"></i>
            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora perferendis tempore doloribus ut ex. Dignissimos suscipit eius saepe? Ullam accusamus obcaecati facere ipsum ex nesciunt excepturi fugiat eum quas eos.</p>
            </div>
        </div>
    </div>

    <%- include('partials/footer.html') %>
</body>
</html>
